#generated-number {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

span #generated-number {
    align-content: center;
}

#history-display {
    max-height: 11rem;
    overflow: auto;
}